<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>地図上に現在地を表示するために位置情報を使用します。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>地図上に現在地を表示するために位置情報を使用します。</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.110852280706-amhl793arqjafr69m6ijg1rjf589baal</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
